/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald/oswald-v36-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/oswald/oswald-v36-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/oswald/oswald-v36-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/oswald/oswald-v36-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/oswald/oswald-v36-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/oswald/oswald-v36-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/opensans/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/opensans/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/opensans/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/opensans/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/opensans/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/opensans/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/opensans/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/opensans/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/opensans/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/opensans/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/opensans/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/opensans/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/opensans/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/opensans/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/opensans/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, html {
    /* works on Chromium 88.0.4324.150 */
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.button {
    display: inline-block;
    line-height: 1;
    text-align: center;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    /* height: 80px; */
    background: rgba(0, 91, 193, 0.6);
    padding: 11px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}

.header-container {
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
}

.header-menu li {
    margin: 0 14px;
}

.header-menu a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
}

.header-nav {
    margin: 0 auto;
    padding-right: 140px;
}

.title-block {
    background-image: url(../img/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.title-block-content {
    padding-top: 280px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(0, 91, 193, 0.6) 0% 444px, transparent 444px 100%);
}

.title-block-button {
    border: 2px solid #FFFFFF;
}

.title-block-title {
    font-family: Oswald, sans-serif;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.title-block-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 40px;
}

.main-content {
    padding-top: 155px;
    padding-bottom: 120px;
}

.section {
    margin-bottom: 150px;
}

.title {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 70px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    position: relative;
}

.project-item img {
    max-width: 100%;
    max-height: 100%;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 110px;
    background-color: #fff;
    position: absolute;
    top: 255px;
    left: 255px;
}

.project-inner-text-bold {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    padding-left: 25px;
    padding-bottom: 14px;
}

.project-inner-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    padding-left: 25px;
}

.product-nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.product-nav-list li:first-child {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #005BC1;
    text-decoration: underline;
}

.product-nav-list li {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    padding-left: 47px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.product-item {
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.product-content {
    border: 3px solid #005BC1;
    height: 300px;
    position: relative;
}

.product-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-text {
    width: 265px;
    height: 86px;
    background: #005BC1;
    position: absolute;
    right: 0;
    bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.product-text span {
    margin: auto;
    padding: 15px 36px 15px 21px;
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    overflow: hidden;
}

.section2-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-text-block {
    width: 350px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #343434;
}

.section2-mixed-block {
    border: 3px solid #005BC1;
    width: 665px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section2-mixed-upper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.section-mixed-title {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.section-mixed-lower-text-upper {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 30px;
}

.section-mixed-lower-list li {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    padding-bottom: 35px;
    list-style: disc;
}

/*.section2-mixed-lower {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.section2-mixed-lower-img {
    width: 255px;
    margin-right: 30px;
}

.section2-mixed-lower-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.section3-button {
    background: #005BC1;
    border: 2px solid #005BC1;
}

.section3-title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3-container {
    display: flex;
    justify-content: center;
}

.section3-item-horizontal {
    width: 255px;
    margin-right: 30px;
}

.section3-item-horizontal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.section3-item-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-right: 60px;
}

.section3-item-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.section3-item-top-left {
    margin-right: 60px;
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.section3-item-font {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.section3-item-top-right {
    font-weight: 600;
    line-height: 19px;
    text-align: right;
    color: #979797;
}

.section3-item-middle {
    font-weight: 300;
    line-height: 19px;
    color: #343434;
    width: 255px;
}

.section3-item-bottom {
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}

.section3-item-bottom-img {
    width: 128px;
}

.section3-item-top-left-other {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.section3-item-bottom-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.section3-item-bottom-right {
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer {
    width: 1920px;
    background: #005BC1;
    padding: 36px 405px 25px 405px;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.phone-number {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.address {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.email {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}

.middle-footer {
    padding-bottom: 25px;
    padding-top: 25px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 29px;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;
}

.middle-footer a {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 110px;
}

.copyright {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.author {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}

/* slider */
.main-slide {
    width: 540px;
    height: 400px;
    position: relative;
}

.main-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-slide-text {
    width: 250px;
    height: 110px;
    position: absolute;
    padding: 20px 25px;
    overflow: hidden;
    right: 35px;
    bottom: 35px;
    background-color: #fff;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal-content {
    width: 855px;
    background-color: #fff;
    position: relative;
    background-image: url("../img/registration.jpg");
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-mixed-block {
    position: relative;
}

.modal-form input {
    width: 292px;
    margin-bottom: 12px;
    height: 26px;
}

.modal-form input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.modal-form p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 32px;
}

.modal-form button {
    margin-bottom: 30px;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
}