.block1 {
    background-color: blueviolet;
}

.block2 {
    background-color: brown;
}

.block3 {
    background-color: deeppink;
}

.text1 {
    background-color: aqua;
}

.text2 {
    background-color: chocolate;
}

.text3 {
    background-color: indigo;
}