* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: Arial, Hevlerica, sans-serif;
    color: #2c2c2c;
    background-color: #827e7e;
}

.container {
    background-color: #fff;
    width: 1060px;
    padding: 40px 50px 60px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding-bottom: 40px;
}

.header-nav {
    background-image: linear-gradient(0.0deg, #444343 0, #5e5e5e 100%);
}

.header-menu li {
    display: inline-block;
    /* can't return paddings on li 'cause it breaks hyperlink*/
}

.header-menu a {
    color: #fff;
    font-size: 14.7px;
    padding: 15px 25px;
    display: inline-block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2c2c2c;
}

.header-menu li.active {
    background-image: linear-gradient(0.0deg, #2e2e2e 0, #4a4a4a 100%);
}

.header-page {
    padding-bottom: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.aside {
    width: 240px;
}

.main {
    width: 678px;
}

.left-nav {

}

.left-menu a {
    display: block;
    padding: 15px 30px;
}

.left-menu {
    border: 1px solid #c8c8c8;
}

.left-menu li {
    border-bottom: 1px solid #c8c8c8;
}

.left-menu li:last-child {
    border-bottom: none;
}

.main-img {

}

.footer-menu {

}
