* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.content {
    width: 1600px;
    padding-left: 10px;
    padding-right: 10px;
}

.title-section {

}

.main-section {

}

.footer-section {
    background-color: #14274a;
}